body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  color: rgb(40, 40, 40);
}

#basad {
  margin: 7.5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.head {
  text-align: center;
}

.main-header {
  font-size: 50px;
  font-weight: normal;
}

.description {
  margin-top: 25px;
}

.description-list {
  margin: 0 60px;
  font-size: 14px;
  text-align: right;
}

.slideshow {
  position: relative;
  margin: 25px auto;
  width: 700px;
  height: 450px;
  list-style: none;
}

.slideshow li {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  animation: imageAnimation 16s infinite;
}

.slideshow li:nth-child(1) {
  background-image: url('../images/tow-truck.jpg');
}

.slideshow li:nth-child(2) {
  background-image: url('../images/jcb-170.webp');
  animation-delay: 6s;
}

.slideshow li:nth-child(3) {
  background-image: url('../images/bobcat-e20.jpg');
  animation-delay: 10s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.contact {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

.phone {
  font-size: 22px;
  color: white;
  text-align: center;
}

.phone a,
.phone a:visited,
.phone a:active {
  color: inherit;
}

@media (max-width: 576px) {
  .head {
    margin-top: 25px;
  }

  .main-header {
    font-size: 28px;
  }

  .slideshow {
    width: 80vw;
    height: 200px;
  }

  .phone {
    font-size: 20px;
  }
}
